@import '../../../../theme/base.scss';

.front-form {
  background: $secondary-color;
  min-height:100vh;
}
.logo-header {   
  img {
    @media (min-width:480px) {
      max-width:325px;
    }
  }
}

.login-form {
  width:395px;
  margin:0 auto;
  @media (max-width:575px) {
    width:90%;
  }
  .form-group {
    margin-bottom: 4px;
  }
}
.btn-full .btn { 
  background-color: $btn-color;
  padding:12px 10px;
  min-height: 50px; 
  width:100%;
  &:hover, &:focus {
    background: $teal-color;
  }
}
.forgot_pwd {
  color:$skyblue-color;
  font-size: $f16; 
  text-transform: capitalize;
  &:focus, &:hover {
    color:$white-color;
  }
}
.error_msg {
  font-size: $f14;
  margin:5px 0;
  display: $block;
  line-height: 14px;
}