.front-form {
  background: #414959;
  min-height:100vh;
}
.logo-header { 
  max-width: 100%;  
  img {
    max-width:325px;
  }
}

.login-form {
  width:395px;
  margin:0 auto;
  @media (max-width:575px) {
    width:90%;
  }
  .form-group {
    margin-bottom: 4px;
  }
}
.btn-full .btn {
  border-radius: 40px;
}

.error_msg {
  font-size: 14px;
  margin:5px 0;
  display: block;
  line-height: 14px;
}