.content-panel {
    h1 {
        color:#61d1fc;
        margin:0 0 30px;
    }
}
.upload_btn {
    i {
        margin-right:15px;
    }
    button {
        background-color: #414959;
        border-radius: 4px;
        color:#fff;
        font-size: 18px;
        min-height:40px;
        min-width:230px;
    }
}

.event_posts {
    .date_time {
        color:#61d1fc;
    }
}