.content-panel {
    h1 {
        color:#61d1fc;
        margin:0 0 20px;
    }
}
.sec_row {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
}
.c-col-lft {
    max-width:45%;
    margin-right: 20px;
}

.event_posts {
    position: relative;
    display: flex;
    max-width:55%;
    width:100%;
    .date_time {
        min-width: 60px;
        color:#9da2b2;
        display: inline-block;
        .time {
            color:#64d2ff;
            display: block;
            font-size: 28px;
            font-weight: 700;
        }
        .date {
            color:#9da2b2;
            font-size: 19px;
            text-transform: uppercase;
            font-weight: 400;
            strong {
                color:inherit;
                display: block;
                font-size: 28px;
                line-height: 18px;
            }
        }
    }
    .team_group {
        border-left: 1px solid #e2e5e8;
        margin-left: 20px;
        padding-left: 20px;
        display: inline-block;
        hgroup {
            h5 {
                font-size: 28px;
                font-weight:700;
                color:#000;
            }
            h6 {
                font-size:23px;
                font-weight: 600;
                color:#1b2031;
                text-transform: uppercase;
            }
        }
        .total_joined {
            color:#acb1be;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    .list_group {
        display: flex;
        margin:15px 0;
        li {
            width:80px;
            height:80px;
            overflow: hidden;
            border-radius: 45px;
            margin-right: 7px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.button_group {
    display: flex;
    margin-right:-7px;
    margin-left:-7px;
    .btn {
        width:100%;
        margin: 5px 7px;
    }    
}