#screen-content {  
  padding-bottom:20px;   
  @media (min-width:1025px){
    padding-left:10px;
    margin-left: 280px;
  }
}
.close-drawer{
  background: #4a57cc;
  color:#fff;
  font-size: 16px;
  width:42px;
  height:42px;
  line-height:44px;
  top:0;
  z-index: 9999999;
  left:-200px;
  text-align: center;
  position: fixed;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.screen-hoc-container{ 
  flex-direction: row; 
  display: flex; 
  width: 100%;
  min-height: 100vh;
}
.screen-hoc-content{
  display: flex; 
  width: 100%; 
  justify-content: center;
}
.sticky-ham{
  position: fixed;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
  left: 2%;
  box-sizing: content-box;
  padding:10px;
}