@import '../../../theme/base.scss';

.pagination-div{
    @include flexbox; 
    //@include flex-direction(column);         
    @include align-items(center);
    -webkit-tap-highlight-color: transparent; 
    margin:30px 0;     
    @media (max-width:480px) {
        @include flex-direction(column-reverse);        
        @include justify-content (center);
    }
    .pagination-text {
        margin:0; 
        color: $base-color;
        font-size: $f16;      
        min-width: 230px; 
        font-weight: $f-medium;
        @media (max-width:767px) {
            font-size: $f14+1;
            flex:auto;
            padding:10px 0;
            text-align: center;
        } 
        span {
            font-weight:$f-bold;
            color:$black-color;
        }
    }
}

.pagination { 
    width:100%; 
    list-style: $none;
    outline: $none; 
    justify-content: flex-end!important; 
    @media (max-width:767px) {
       justify-content: center!important; 
    }
  }
  .pagination > .active > a{
    background-color: $primary-color ;
    border-color: $primary-color; 
    color: $white-color;
  }
  .pagination > li > a{
    border: 1px solid $secondary-color;
    color:$black-color;
    padding: 5px 10px;
    margin:0 7px;    
    outline: $none; 
    min-width: 36px;
    min-height: 36px;
    @include flexbox; 
    font-size:$f14;
    @include border-radius(50px);
    @include align-items (center);
    @include justify-content(center);  
    cursor: pointer;
    text-align: center;
     @media (max-width:767px){
        margin-right: 3px;
        margin-left: 3px;
     }
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: $primary-color ;
    border-color: $primary-color;
    outline: $none ;
  } 
.previous, .next  {
    &.disabled {
        @include opacity(.5); 
        pointer-events: $none;
    }
    a {
        font-family: monospace;
        &:hover, &:focus {
            background-color: $secondary-color;
            color:$white-color !important;
        }
    }
}



