.pagination-div{
    display: flex;
    flex-direction: row;          
    align-items: center;
    -webkit-tap-highlight-color: transparent; 
    margin:30px 0;     
    @media (max-width:480px) {
        flex-direction: column-reverse;  
        justify-content: center;
    }
    .pagination-text {
        margin:0; 
        color: #4d4d4f;
        font-size: 16px;
        font-weight: 400;       
        min-width: 230px; 
        font-weight: 500;
        @media (max-width:767px) {
            font-size: 15px;
            flex:auto;
            padding:10px 0;
            text-align: center;
        } 
        span {
            font-weight:700;
            color:#000;
        }
    }
}

.pagination {
    justify-content: center;
    list-style: none;
    outline: none; 
    width:100%;  
    padding: 0 15px;
  }
  .pagination > .active > a{
    background-color: #64d2ff ;
    border-color: #64d2ff ; 
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #424959;
    color:#000;
    padding: 5px 10px;
    border-radius: 50px;
    margin:0 7px;    
    outline: none; 
    min-width: 36px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
    text-align: center;
     @media (max-width:767px){
        margin-right: 3px;
        margin-left: 3px;
     }
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #64d2ff ;
    border-color: #64d2ff ;
    outline: none ;
  } 
.previous, .next {
    a {
        font-family: monospace;
        &:hover, &:focus {
            background-color: #424959;
            color:#fff!important;
        }
    }
}