@import '../../../theme/base.scss';
.drag_drop_option {    
    i {
        max-width:70px;
        min-width:50px;
        margin-right: 10px;
        img {
            max-width: 100%;
        }
    }
}
.add_formList {
    .dzu-dropzone {
        min-width: 100%;
        width:100%;
    }
    .upload_btn {    
        min-width:initial;
        width: 100%;
        font-size:$f14+1;
    } 
    .drag_drop_option {
        position: $static;        
    }
}
.upload_btn {    
    text-align: center;
    color:$white-color;
    font-size: $f16;
    background-color: $secondary-color;
    @include border-radius(5px);
    @include flexbox; 
    @include align-items(center);
    @include justify-content(center);
    font-weight: $f-medium;
    min-height:40px;
    min-width:230px;    
    padding:0 15px;
}
.dzu-inputLabel {
    position:$static;
    width:100%;
}

.dropzone-div{
    position: $fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    @media (min-width:575px) {
        width:calc(100% + 17px);
    }
    .dialog-lg {
        max-width: 1025px;       
        @media (min-width:1024px){
            min-width: 990px;
        }
    }
    .dropzone-dialog {        
        max-width:600px;      
        @include flexbox; 
        @include align-items(center);
        position: $relative;
        width: auto;        
        margin: 1.75rem auto; 
        z-index: 11;
        @media (min-width:575px) {
            min-height: calc(100% - 3.5rem);
        }
        .dropzone-content{
            position: $relative;
            @include flexbox; 
            @include flex-direction(column); 
            width: calc(100% - 20px);
            pointer-events: auto;
            background-color: $white-color;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            @include border-radius(.3rem);
            outline: 0;
            margin:0 10px;
            .dropzone-body {
                padding: 1.8rem;
                @include border-radius(12px);
                 .d-flex {
                    .form-group {
                        margin: 0;
                    }
                }
                .form-group {
                    label {
                        font-weight:$f-medium;
                        margin-bottom: 7px;;
                    }
                }
            }
        }
        .dzu-dropzone {
            border: 2px dashed $red-color1;
            border-radius: 12px;
            margin:0 0 15px; 
            @include flexbox; 
            @include flex-direction(row); 
            @include justify-content(space-evenly); 
            width:100%;          
            overflow: hidden;        
            .dzu-submitButtonContainer{
                display: $none;
            }
        }
        .flex-column {
            flex-direction: row !important;
            justify-content:flex-end !important
        }
    }    
    
    .dzu-inputLabel {        
        background-color: $transparent;        
        overflow: hidden;     
        width: 100%;
        position: $static;
        div {
            cursor: pointer;
            label{
                cursor: pointer;
                @include flex-wrap(wrap);        
                position: $absolute;
                z-index: 0;
                font-weight: $f-light;
                text-align: center;
                font-size: $f16;        
                p{
                    margin:0px;
                    color:$red-color1;
                    font-size: $f16;
                    span{
                        color:$red-color1;
                        font-weight: 500;
                        font-size: $f16;
                    }
                }
                span{
                    color:$red-color1;
                    font-size: $f16;
                    font-weight: $f-medium;
                }
            }               
        }
    }
    
    .dzu-inputLabelWithFiles{
        @include flexbox; 
        @include flex-direction(column); 
        @include justify-content(center);
        @include align-items(center);
        color:$skyblue-color-light;
        text-align:center;
        width: 100%;
        margin:0;
        background-color: $transparent;
        .dzu-input{
            display:$block;
            visibility:visible;
            opacity: 0;
            cursor: pointer;
            position: $absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 9;
        }
    }    
    .dzu-inputLabelWithFiles{
        display: $none;
    }
    textarea {
        min-height: 90px;
    }
}
.dzu-input{
    display:$block;
    visibility:visible;
    opacity: 0;
    cursor: pointer;
    position: $absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
}

.dzu-dropzone {    
    min-width: 350px;
    overflow: hidden;
    border: 0;   
    min-height: 70px;
    @include align-items(flex-start);    
    .dzu-input {
        display: $none;
    }
}
.dzu-submitButton{
    @include flexbox; 
    background: $transparent;
    padding:0;
    border:0px;
}

.dzu-previewContainer {
    padding:10px 40px 10px 12px;
    min-height: initial;
    max-width:100%;
    position: $relative;
    border:1px solid $grey-color2;
    @include border-radius(4px);
    height:49px;
    @media (max-width:767px){
        width:100%;
    }
    .dzu-previewImage {
        height:40px;
        max-height: initial;
        max-width: initial;
    }
    + .dzu-submitButtonContainer {
        display: $none;
    }
    .dzu-previewStatusContainer{    
        position: $absolute;
        right:14px;
        top:9px;
        width: 30px;
        height:30px;
        @include border-radius(30px);
        background: $primary-color;
        justify-content: center;
        box-shadow: 0 0 10px $grey-color6;
        .dzu-previewButton {
            background-size: 11px;
            width: 30px;
            height:30px;
            margin:0 -1px 0 0;
        }
    } 
    .dzu-previewFileName {
        padding-right: 25px;
        font-size:$f16;
        line-height: $f16+2;
    }
}   