.content-panel {
    padding:30px 0;
    min-height:calc(100vh - 120px);
    h1 {
        color:#61d1fc;
        margin:0 0 20px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-self: start;        
    }
}

.content_section {
    li {
        a {
            color:#61d1fc;
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
            @media (max-width:1024px) {
                font-size: 22px;
            }
            @media (max-width:767px) {
            font-size: 21px;
            }
        }
    }
}

.MuiDrawer-docked {display: none;}