.content-panel {
    padding:30px 0;
    min-height:calc(100vh - 120px)
}

.content_section {
    li {
        a {
            color:#61d1fc;
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
            // @media (max-width:991px) {
            //     font-size: 24px;
            //   }
              @media (max-width:767px) {
                font-size: 22px;
              }
        }
    }
}

.MuiDrawer-docked {display: none;}