@import '../../../theme/base.scss';

header {
    padding:40px 15px 10px;    
    width:100%;
    background: $secondary-color; 
    z-index: 1; 
     @media (max-width:767px){
        padding:10px 15px; 
     }
} 
.brand-logo {
    img {
        @media (min-width:768px){
            max-width:270px;
        }
        @media (max-width:767px){
            min-width:180px;
            //max-width:270px;
        }
    }
}
.humburger_icon {
    margin-left: auto;
    cursor: pointer; 
    @media (min-width:767px){
        display: $none;
    }
}
.navbar-menu {
    width:100%;
    text-align: right;
    .nav-admin {
        transition: all .5s ease-in-out;
        @media (max-width:767px){
            position: $absolute;
            display: $block;
            padding: 10px 0;
            width:100%;
            top:79px;
            left:0;
            background-color: $secondary-color;    
            box-shadow: 0 0 10px rgba(0,0,0,.2);        
        }
        &.show {
            display:$block;
        }
        li  {
            display: $inline-block;
            margin-left: 10px;
            @media (max-width:767px){
                width:100%;
                display: $block;
                text-align: left;                
            }
            &.active a {
                color:$primary-color;
            }            
            a {
                color:$white-color;
                font-size: $f16+2;
                font-weight: $f-bold;
                padding: 5px;
                display: $block;
                cursor: pointer;
                text-transform: capitalize;
                @media (max-width:767px){
                    padding:5px 10px
                }
            }
        }
    }
}