header {
    padding:40px 15px 10px;    
    width:100%;
    background: #414959; 
    z-index: 1; 
     @media (max-width:767px){
        padding:10px 15px; 
     }
} 
.brand-logo {
    img {
        @media (min-width:768px){
            max-width:270px;
        }
        @media (max-width:767px){
            min-width:180px;
            //max-width:270px;
        }
    }
}
.humburger_icon {
    margin-left: auto;
    cursor: pointer; 
    @media (min-width:767px){
        display: none;
    }
}
.navbar-menu {
    width:100%;
    text-align: right;
    .nav-admin {
        transition: all .5s ease-in-out;
        @media (max-width:767px){
            display: block;
            padding: 10px 0;
            width:100%;
            position: absolute;
            top:79px;
            left:0;
            background-color: #424959;    
            box-shadow: 0 0 10px rgba(0,0,0,.2);        
        }
        &.show {
            display: block;
        }
        li  {
            display: inline-block;
            margin-left: 10px;
            @media (max-width:767px){
                width:100%;
                display: block;
                text-align: left;                
            }
            &.active a {
                color:#64d2ff;
            }            
            a {
                color:#fff;
                font-size: 18px;
                font-weight: 700;
                padding: 5px;
                display: block;
                text-transform: capitalize;
                @media (max-width:767px){
                    padding:5px 10px
                }
            }
        }
    }
}