.MuiSnackbar-root {
    .MuiSnackbarContent-root {
        position: relative;
        width: 100%;        
        padding-right: 40px;        
    }
}

.MuiSnackbar-root{
    position: static!important;
    width: 100%;
    margin-top:15px;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiSnackbarContent-action {
     position: absolute;
     right:18px;    
}
.message-text {
    display: inline-block!important;
    padding-left:30px;
    position: relative;
    @media(max-width: 575px){ 
        line-height: 15px;
    }
    svg.MuiSvgIcon-root {
        position: absolute;
        left:0;
    }
}