@import '../../../theme/base.scss';

button.MuiPickersDay-day {
    padding:0!important;
}
.MuiPickersDay-dayDisabled{
    .MuiIconButton-label{
        color:$grey-color2;
    }
}
.MuiFormControl-marginNormal {
    margin:0!important; 
    min-height: initial;
}
.MuiPickersToolbar-toolbar{
    background-color: $primary-color!important;
}
.MuiPickersDay-daySelected{
    background-color: $primary-color!important;
    .MuiIconButton-label{
        color: $white-color;
    }
}
.MuiPickerDTTabs-tabs {
    background-color: $skyblue-color-dark!important;
    svg {
        path {
            color:$white-color;
        }
    }
}
.MuiPickersCalendar-transitionContainer {
    .MuiIconButton-root {
        &:hover, &:focus {
            background:$primary-color!important;
            color: $white-color!important;
            span {
                color:inherit;
            }
        }
    }
}
.MuiDialogActions-spacing {
    justify-content: center!important;
    button {
        &:first-child {
            background: $primary-color;
            border-color:$skyblue-color-dark;
            span{
                color:$white-color!important;
            }     
            &:hover {
                background:$primary-color;
                border-color:$primary-color;
                span {
                    color:$white-color!important;
                }
            }      
        }
    }
}
.MuiTypography-h3 {
  font-size: 2.3rem!important;
}