.answer-label-class{
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox-style{
    text-align: center;
    .form-checkbox {
        span{
            top: -8px;
            left: 0;
            height: 24px;
            width: 24px;
            border-color: #5E5E5E;
        }
        span:after{
            left: 7px;
            top: 1px;
            height: 15px;
            width: 7px;
        }
    }
}