.MuiPickersClockPointer-pointer,
.MuiPickersClockNumber-clockNumberSelected,
.MuiPickersClock-pin {
   background-color: #64d2ff!important;
}
.MuiPickersClockPointer-thumb {
   border-color: #64d2ff!important;
}
.MuiIconButton-root {
    padding: 0!important;
}