.test-file-drop{     
    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    h3{
        font-size: 1.3rem;
        font-weight: 400;
        margin: 1.3rem 0;
    }
    .drop_area{
        display: flex;        
        justify-content: space-between;
        align-items: center;  
         @media screen and (max-width:768px){
            flex-direction: column;
            margin: auto;
            .dzu-dropzone{
                width: 100%;
                margin: 0;
            }
        }      
        .dzu-dropzone{      
            min-height: initial;      
            width: 100%;
            margin: 0;            
            overflow: visible;
            justify-content: start;
            border:0;            
        }       
        h4{
            font-size: 1.1rem;
            font-weight:400;
            text-align: center;
        }    
        .dzu-inputLabel {
            width:100%;
            align-items: start;
            position: static;
            i {
                display: flex;
                align-items: center;
                background-color: #F2F2F2;
                border-radius: 10px;
                min-width:200px;
                text-align: center;
                justify-content: center;
                min-height:120px;                
            }
        }          
    }    
    .error_msg {padding-left: 15px;}
}



